* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  text-align: center;
  font-size: 32px;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  border: 1px solid black;
}

.description, .sourcecode, .download {
  text-align: center;
  font-size: 24px;
  color: #333;
  padding: 20px;
}